

  i {
    cursor: pointer;
    color: white;
 
    font-size: 18px;
  }  
  button {
    background-color: rgb(88, 173, 18);
    opacity: 0.9;
    width: 25px;
    height: 20px;
    border: 2px solid rgb(88, 133, 18,0.2);
    box-shadow: 1px 2px 2px black;
    outline: none;
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(106, 204, 26);
    opacity:1;
  }
  button:active {
    margin-top: 1.5px;
  }
  #break-label,#session-label {
    text-shadow: 1px 1px black;
    padding: 0.6rem;
    font-size: 14px;
    font-weight: 500;
    color: white;
    letter-spacing: 1.5px;
    opacity: 0.9;
  }
  #break-length,#session-length {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: white;
    margin: 0px 8px;
    text-shadow: 1px 1px black;
  }
  #break-box,#session-box {
    font-family: 'Roboto Mono', monospace;
  }
